*{
    margin: 0;
    padding: 0;
}

.background-anim{
    position: absolute;
    z-index: -1;
}

.event-name{
    margin-left: 5vw;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    display: block;
    text-decoration: none;
    color: white;
    letter-spacing: 1vw;
}
