*{
    margin: 0;
    padding: 0;
}

.background-anim{
    
    z-index: -1;
}

.event-name{
    margin-left: 5vw;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    display: block;
    text-decoration: none;
    color: white;
    letter-spacing: 1vw;
}

.remove-atr{
  text-decoration: none;
  color: #797979;
  font-size: 1.5vw;
  font-family: 'Raleway', sans-serif;
}

.remove-atr:hover{
  text-decoration: none;
  color: #797979;
}

/**/


.cards {
  width: 30vw;
  margin: 0 auto;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.cards__container {
  width: 100%;
  position: relative;
  padding-bottom: 71.5%;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.cards__front, .cards__back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-size: cover;
  box-shadow: 25px 25px 50px rgba(0, 0, 0, 0.2);
}
.cards__front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
.cards__back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.cards.is-flipped .cards__container {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card-1 {
  background-image: url(img-rsc/fst_img.jpg);
}

.card-2 {
  background-image: url(img-rsc/scd_img.png);
}

.card-3 {
  background-image: url(img-rsc/trd_img.jpg);
}


.card-4 {
  background-image: url(img-rsc/fth_img.jpg);
}

/**/

.flagship{
  margin-top: 2vw;
  font-size: 2vw;
  font-family: 'Railway', sans-serif;
  color: #676767;
}

.bg-set-abt-us{
  background-image: url(img-rsc/bg_img.png);
  background-size: cover;
}