*{
  margin: 0;
  padding:0;
}

@font-face{
  font-family: 'inception';
  src: url(fonts/Inception_free.ttf);
}

.event-title {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  font-size:4vw;
  text-shadow: 5px 5px 8px #2b586b;
}

.event-title:first-of-type {    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup 10s infinite;
}

.event-title:last-of-type {
  width:0px;
  animation: reveal 10s infinite;
}

.event-title:last-of-type span {
  margin-left:-355px;
  animation: slidein 10s infinite;
}



@keyframes slidein {
    0% { margin-left:-800px;}
    20% { margin-left:-800px;}
    35% { margin-left:0px;}
    100% { margin-left:0px;}
}


@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:320px;}
    80% {opacity:1;}
    100% {opacity:0;width:320px;}
}

.com-soon{
  font-size: 1vw;
}


@media only screen and (max-width:600px){

  .event-title {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    font-size: 8vw;
  }

  .com-soon{
    font-size: 2vw;
  }

  .headings{

    font-weight: 500;
    letter-spacing: 0.2vw;
    font-size:10vw;
  
  }

}

/*contact us headings*/

.headings{

  font-weight: 500;
  letter-spacing: 0.2vw;
  font-size:1.5vw;
  

}
